<mat-card>
    <mat-card-header>
        <mat-card-title>Eliminar Regitros</mat-card-title>
        <mat-card-subtitle>Administración</mat-card-subtitle>
    </mat-card-header>


    <mat-card-actions align="start">

          <button mat-button (click)="delete()"> Eliminar
              <mat-icon class="mat-18">delete</mat-icon>
          </button>

          <button mat-button (click)="close()" > Cancelar
            <mat-icon class="mat-18">cancel</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
